@import 'bootstrap_custom';

$bg-color: black;
$font-size: 1em;
$font-size-small: 0.6em;

body {
    background-color: $bg-color;
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 1000;
    width: 46px;
    height: 46px;
    background: url('../img/ajax-loader.gif') no-repeat;
    cursor: wait;
}
.sudoku {
    display: none;
    margin: 0;
    font-size: 20px;    
    width: 320px;
    transition: width 2s;
    -moz-transition: width 2s, -moz-transform 2s;
    /* Firefox 4 */

    -webkit-transition: width 2s, -webkit-transform 2s;
    /* Safari and Chrome */

    -o-transition: width 2s, -o-transform 2s;
    /* Opera */

}
.sudoku-solved {
    width: 320px;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Firefox 4 */

    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */

    -o-transform: rotate(360deg);
    /* Opera */

}
.errors {
    color: red;
    font-size: $font-size-small;
    margin-right: 20px;
    
}
.clock {
    text-align: right;
    font-size: $font-size-small;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
}
td {
    margin: 0;
    border: 1px solid black;
    padding: 0;
    text-align: center;
}
.navbar {
    margin-bottom: 0;
}

.number {
    @extend .btn, .btn-default;
    margin: 0;
    /* float: left; */
    display: table-cell;
    width: 30px;
    height: 30px;
    padding: 1px;    
    font-size: 1em;
    /* padding: 0; */
    border: solid thin black;
}

.notes-toggle {
    @extend .btn-warning;
}

.selected-number {
    @extend .btn-info;
}

.square {
    @extend .btn-default;
    display: table-cell;
    border-radius: 0;
    font-size: 1em;
    line-height: 0.9em;
    width: 30px;
    height: 30px;
    padding: 1px;
}
.notes {
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 0.9em;
}
.error {
    @extend .btn-danger;
}
.new {
    @extend .btn, .btn-warning, .navbar-btn;    
    margin-left: 0px;
    margin-right: 20px;
}
.help {
    @extend .btn, .btn-success, .navbar-btn;
    margin-left: 0px;
    margin-right: 0px;
}
/* For 321px or more */
@media screen and (min-width: 500px) {
    body {
        margin: 50px;
        padding: 0;
    }
    .sudoku {
        margin: 20px auto;
        width: 460px;
        font-size: 27px;
    }
    .square {
        width: 45px;
        height: 45px;
        padding: 1px;
    }
    .number {
        width: 45px;
        height: 45px;
        padding: 1px;
    }    
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    
}
